.posts-page-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.post {
    border-block-end: 0.0625rem dashed var(--body-fg);
    padding-block-end: 1rem;
    & .post-header {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    & h2 {
        text-align: left;
        line-height: 1.2;
        text-wrap: pretty;
    }

    & svg {
        fill: red;
        width: 3.125rem;
        height: 3.125rem;
    }
    &:nth-child(2n + 2) {
        & svg {
            fill: green;
        }
    }
    &:nth-child(3n + 3) {
        & svg {
            fill: rgb(0, 117, 255);
        }
    }
    &:nth-child(4n + 4) {
        & svg {
            fill: magenta;
        }
    }
    &:nth-child(5n + 5) {
        & svg {
            fill: orange;
        }
    }

    & .faux-link {
        margin-inline-start: auto;
        cursor: not-allowed;
        color: var(--accent-colour);
        text-align: right;
        opacity: 0.5;
    }

    & .info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    & .reactions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    & .reaction {
        display: flex;
        align-items: center;

        & .likes-dislikes {
            width: 1.4375rem;
            height: 1.4375rem;

            &.likes {
                background: var(--like) 0 url("../img/reactions-sprite.png");
            }

            &.dislikes {
                background: var(--dislike) 0 url("../img/reactions-sprite.png");
            }
        }
    }
}
